* {
    padding: 0;
    margin: 0;
    position: relative;
}

body {
    font-family: RazerF5, sans-serif;
    height: 100vh;
    background-color: #222222;
}

body a {
    text-decoration: none;
    color: #000;
}

.header_up {
    display: flex;
    height: 0.5vh;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 1%;
    top: 0;
    padding-left: 15vw;
    padding-right: 15vw;
}

.cfr{
    background-color: white;
}
.number {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4%;
    width: 50%;
    flex-wrap: wrap;
}

.phone_numb {
    font-size: 1.5vh;
    color: #7f817e;
    font-weight: bold;
    transition: color 0.3s ease;
}

.phone_numb:hover {
    color: rgb(0, 185, 0);
}

.location {
    display: flex;
    align-items: center;
    gap: 0.3vw;
}

.grad_numb {
    font-size: 1.4vh;
}

.grad_numb_2 {
    font-size: 1.4vh;
    font-weight: bolder;
    color: #7f817e;
}

.registration {
    color: white;
    font-size: 0.7vw;
    padding-left: 5vw;
    transition: color 0.3s ease;
}

/* .registration:hover {
    color: 
} */

.header_center {
    display: flex;
    background-color: white;
    border-top:  1px solid rgb(0, 0, 0);
    height: 5.7vh;
    align-items: center;
    justify-content: center;
    border-bottom: 0.15vw solid rgb(0, 185, 0);
}

.zagolovok1 {
    display: flex;
    text-align: center;
    width: 15vw;
}

.zagl {
    font-size: 1.6vh;
    font-weight: lighter;
    flex-wrap: wrap;
    flex-direction: row;
    transition: all 0.3s ease;
}

.zagl:hover {
    transform: scale(1.01);
    color: rgb(0, 185, 0);
}

.menu1 {
    display: flex;
    justify-content: center;
}

.menuup1 {
    display: flex;
    gap: 0.5vw;
    list-style: none;

}
.menuup0 {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    list-style: none;
}
.lishki2 {
    color: white;
    font-size: 4vw;
    transition: all 0.3s ease;
}
.lishki {
    color: black;
    font-size: 0.85vw;
    transition: all 0.3s ease;
}

.lishki:hover {
    transform: scale(1.05);
    color: rgb(0, 202, 0);
}

.search_heart_shop-bag {
    display: flex;
    justify-content: end;
    width: 15vw;
    gap: 0.4vw;
}

.poisk {
    width: 1.2vw;
    height: 1.2vw;
}

.svg_b_menu {
    display: none;
    height: 5vw;
    width: 5vw;
}

.menu_800px {
    display: none;
}

main {
    display: flex;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
}

.section1 {
    display: flex;
    background-image: url(Aether-Monitor-Light-Bar-HP-3840x1400.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 68vh;
    width: 100%;
    align-items: center;
    color: white;
    flex-direction: column;
    padding-top: 5%;
    gap: 1.6vw;
    margin-bottom: 0.7vw;
}
 .section_1_tovar /*карточка товара*/{ 
    display: flex;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 68vh;
    width: 100%;
    align-items: center;
    color: white;
    flex-direction: column;
    padding-top: 5%;
    gap: 1.6vw;
    margin-bottom: 0.7vw;
}

.excl {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff9c08;
    width: 8vw;
    height: 1.7vw;
    color: #000;
}

.excl_sl {
    font-size: 0.65vw;
}

.new {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2aaadb;
    width: 5.5vw;
    height: 1.6vw;
    color: #000;
}

.new_sl {
    font-size: 0.65vw;
}

.button_obsh {
    display: flex;
    justify-content: center;
}

.button_for {
    font-size: 1.1vw;
}

.zagolovok_section {
    font-size: 2.7vw;
    color: white;
    text-align: center;
}

.podzagolovok_section {
    font-size: 1.4vw;
    font-weight: 100;
}

.button_uzn {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    border: 3px solid transparent;
    color: white;
}

.button_by {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    border: 3px solid transparent;
    color: white;
}
.ugl_strel {
    width: 1.5vw;
    height: 1.5vw;
}

.section2 {
    display: flex;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    width: 100%;
    align-items: center;
    color: white;
    flex-direction: column;
}

.partX {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    overflow: hidden;
    height: 68vh;
    width: 100vw;
    color: white;
    padding: 5%;
    gap: 1.6vw;
    margin-bottom: 0.7vw;
    background-position: center;
}

.part1 {
    display: flex;
    background-image: url(Viper-V3-Pro-HP-3840x1400.webp);
    background-repeat: no-repeat;
}

.part2 {
    display: flex;
    background-image: url(Kraken-V4-Pro-HP-1920x700-v2.webp);
    background-repeat: no-repeat;
}

.part3 {
    display: flex;
    background-image: url(Viper-V3-Pro-HP-1920x700-v3.webp);
    background-repeat: no-repeat;
}

.part4 {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 27vw;
    width: 50vw;
    padding-top: 5%;
    flex-direction: column;
    align-items: center;
    gap: 0.8vw;
}

.zagolovok_section_c {
    font-size: 2.1vw;
    text-align: center;
}

.podzagolovok_section_c {
    font-size: 1vw;
    font-weight: 100;
    text-align: center;
}

.card_para {
    display: flex;
    flex-direction: row;
    gap: 0.8vw;
    margin-bottom: 0.8vw;
}

.card1 {
    background-image: url(Aether-Smart-Lamp-Pro-HP-Small-home-desktop.webp);
}

.card2 {
    background-image: url(razer-ces-2025-b-950x580-desktop.webp);
}

.card3 {
    background-image: url(main-mini-banner-for-razer-basilisk-v3-35k-desktop.jpg);
}

.card4 {
    background-image: url(main-mini-banner-for-BlackWidow-V4-Pro-desktop.webp);
}

.card5 {
    background-image: url(main-mini-banner-for-Huntsman-V3-Pro-desktop.webp);
}

.card6 {
    background-image: url(DeathAdder-V3-Pro-HP-Small-home-desktop-v4.webp);
}

footer {
    display: flex;
    flex-direction: column;
    height: 40vh;
    background-color: #1f1f1f;
    padding-left: 20%;
    padding-right: 20%;
}

.footer_1 {
    display: flex;
    align-items: start;
    height: 80%;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3%;
}

.footer_part {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.footer_part1 {
    display: flex;
    flex-direction: column;
}

.number_work {
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
}

.number_phone_footer {
    font-size: 0.9vw;
    font-weight: 100;
    color: white;
}

.posle_phone_footer {
    font-size: 0.8vw;
    color: #6a6a6a;
}

.c123{
    color: #000;
}

.gl_menu_foot {
    font-size: 1vw;
    color: white;
}

.menu_foot {
    font-size: 0.8vw;
    color: #6a6a6a;
}

.footer_2 {
    display: flex;
    height: 20%;
    flex-direction: column;
    align-items: center;
    color: #50524e;
    font-size: 1vw;
}

.prava {
    color: rgb(0, 202, 0);
}


@media (max-width:1000px) {
    .header_up, .header_center {
        padding-left: 8vw;
        padding-right: 8vw;
    }
    .zagl{
        font-size: 1.5vw;
    }
    .search_heart_shop-bag{
        width: 5vw;
    }
    .zagolovok1{
        width: 25vw;
        left: 0;
    }
}
@media (max-width:450px) {
    .header_up {
        display: none;
    }

    .header_center {
        padding: 0;
        flex-direction: column;
        align-items: center;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }
    .ccc{
        flex-direction: row;
    }

    .svg_b_menu {
        display: block;
    }

    .number {
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }

    .menu1 {
        width: 10%;
    }

    .zagolovok1 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: left;
        width: 50%;
        left: 10%;
    }

    .registration {
        font-size: 3.4vw;
    }

    .search_heart_shop-bag {
        display: flex;
        justify-content: end;
        gap: 5vw;
        right: 0;
        width: 30vw;
    }

    .poisk {
        width: 5vw;
        height: 5vw;
    }

    .zagolovok_section {
        font-size: 7vw;
    }

    .zagl {
        font-size: 3.4vw;
    }

    .podzagolovok_section {
        font-size: 4vw;
        text-align: center;
    }

    .section1 {
        gap: 5vw;
        width: 90vw;
        padding-left: 5vw;
        padding-right: 5vw;
        background-image: url(phone\ version\ 1\ photo.webp);
    }

    .section_1_tovar {
        gap: 5vw;
        width: 90vw;
        padding-left: 5vw;
        padding-right: 5vw;
        background-image: url();
    }

    .card_para {
        flex-direction: column;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover;
        overflow: hidden;
        height: 80vh;
        width: 100vw;
        color: white;
        padding: 5%;
        margin-bottom: 0.7vw;
        background-position: center;
        gap: 5vw;
        width: 90vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .partX {
        gap: 5vw;
        width: 90vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .excl {
        width: 27vw;
        height: 5.5vw;
    }

    .excl_sl {
        font-size: 2.5vw;
    }

    .button_for {
        font-size: 3.5vw;
    }

    .ugl_strel {
        width: 4vw;
        height: 4vw;
    }

    .zagolovok_section_c {
        font-size: 7vw;
    }

    .podzagolovok_section_c {
        font-size: 4vw;
        text-align: center;
    }

    .menuup1 {
        display: none;
    }

    .phone_numb {
        font-size: 2.1vh;
        color: gray;
    }

    .grad_numb {
        font-size: 3.4vw;
    }
}

@media (max-width:450px) {
    .section1 {
        background-image: url(phone\ version\ 1\ photo.webp);
    }

    .part1 {
        background-image: url(phone\ version\ 2\ photo.webp);
    }

    .part2 {
        background-image: url(phone\ version\ 3\ photo.webp);
    }

    .part3 {
        background-image: url(phone\ version\ 4\ photo.webp);
    }

    .card1 {
        background-image: url(phone\ version\ 5\ photo.webp);
    }

    .card2 {
        background-image: url(phone\ version\ 6\ photo.webp);
    }

    .card3 {
        background-image: url(phone\ version\ 7\ photo.jpg);
    }

    .card4 {
        background-image: url(phone\ version\ 8\ photo.webp);
    }

    .card5 {
        background-image: url(phone\ version\ 9\ photo.webp);
    }

    .card6 {
        background-image: url(phone\ version\ 10\ photo.webp);
    }
}



@media (max-width:800px) {
    .header_up {
        display: none;
    }

    .header_center {
        border: none;
        padding: 0;
    }

    .svg_b_menu {
        display: block;
    }

    .menu_800px {
        display: flex;
        background-color: white;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    .krestik {
        width: 5.4vw;
        height: 5.4vw;
    }

    .registration {
        font-size: 3.4vw;
    }

    .krest_box {
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 1vw;
        width: 10%;
        height: 100%;
    }

    .search_heart_shop-bag {
        display: flex;
        justify-content: end;
        gap: 5vw;
    }

    .poisk {
        width: 5vw;
        height: 5vw;
    }

    .lishki_1 {
        font-size: 5vw;
        margin-bottom: 4vh;
    }

    .lishki {
        font-size: 5vw;
        line-height: 4vh;
    }

    .box_menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        width: 80%;
        padding-right: 6vw;
    }

    .krest {
        left: 0;
        width: 5.4vw;
        height: 5.4vw;
    }

    .menuup1_1 {
        display: none;
        list-style: none;
        text-align: center;
    }

    .number {
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }

    .menu1 {
        width: 10%;
    }
}

@media (max-width:800px) {
    .menuup1 {
        display: none;
    }

    .phone_numb {
        font-size: 2.1vh;
        color: gray;
    }

    .grad_numb {
        font-size: 3.4vw;
    }
}